@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{margin:0; padding:0; box-sizing: border-box;}

header {width:100%;
	background-color: #A9BF99;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

#logo {color:#FFFFFF; font-family:'Leckerli One', cursive; font-size:50px;
}

h2 {color:#000000; font-family:'Bree Serif', serif; font-size:25px;
}
h3 {color:#000000; font-family:'Open Sans', sans-serif; font-size: 18px;
}

p {font-family: 'Open Sans', sans-serif;
font-size: 15px;
color: #000000;
}
.topnav {
  overflow: hidden;
  background-color: #A9BF99;
  font-family:'Open Sans', sans-serif;
}

.topnav a {
display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:'Open Sans', sans-serif;
  font-size: 17px;

}

#hero{
	position: relative;

}
#hero_text{
	width:33.33%;
	position: absolute;
	bottom: 10%;
	right: 10%;
}

img{
	display:block; 
	width: 100%;
	
}
p, ul{font-family: sans-serif;}

footer {width:100%;
	background-color: #A9BF99;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}